@model IEnumerable<TaskDto>

<ul class="taskList">
    @foreach (var task in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@task.Id">
                <div class="taskItem">
                    <div>
                        @task.Id | @task.Title
                    </div>
                    <div>
                        Created: @task.Created.ToString("mm/dd")
                       
                    </div>
                </div>
                <div class="taskItem">
                    <div>
                        Priority: @task.Priority
                        
                    </div>
                    <div>
                        Due: @(task.DueDate.HasValue ? task.DueDate.Value.ToString("MM/dd/yyyy HH:mm") : "Whenever")
                    </div>
                </div>
                <div class="taskItem">
                    <div>
                        Status: @task.Status.ToString()
                    </div>
                    <div>
                        Asignee: Test
                    </div>
                </div>
            </a>
        </li>
    }
</ul>